<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842834705290-mlb54skccm1v63qd9glvqr0pnevfl332.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842834705290-mlb54skccm1v63qd9glvqr0pnevfl332</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>842834705290-16129vmc4h38sf0qok824d9n5c48u0g0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbiXMubkxD7frtqlFhAzO9vHdmqScIGNw</string>
	<key>GCM_SENDER_ID</key>
	<string>842834705290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.KoCart</string>
	<key>PROJECT_ID</key>
	<string>kocart-9abe7</string>
	<key>STORAGE_BUCKET</key>
	<string>kocart-9abe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842834705290:ios:e2b24cb93c93f67120e673</string>
</dict>
</plist>